* {
    position: relative;
}
body {
    background-color: lightsteelblue;
}
.yo {
    width: 470px;
    height: 650px;
    background-color: rgb(252, 201, 139);
    border-radius: 300px 300px 350px 350px;
    margin: 100px auto;
}
.pel {
    height: 200px;
    background-color: rgb(52, 41, 32);
    border-radius: 150px 150px 0px 0px;
}
.pel2, .pel3, .pel4, .pel5, .pel6 {
    width: 200px;
    height: 90px;
    background-color: rgb(52, 41, 32);
    clip-path: polygon(21% 19%, 25% 28%, 31% 18%, 36% 28%, 41% 20%, 47% 29%, 51% 21%, 56% 29%, 62% 18%, 67% 31%, 74% 20%, 74% 53%, 21% 56%);
    left: 60px;
    top: -25px;
    position: absolute;
}
.pel3 {
    left: 166px;
}
.pel4 {
    left: 230px;
    transform: scaleX(-1);
}
.pel5 {
    left: 90px;
}
.pel6 {
    left: 230px;
}
.rapat, .rapat2 {
    width: 20px;
    height: 130px;
    position: absolute;
    top: 200px;
    left: 450px;
    background-color: rgb(52, 41, 32);
    background-image: linear-gradient(45deg, rgb(252, 201, 139), rgb(52, 41, 32));
}
.rapat {
    left: 0px;
    transform: scaleX(-1);
}
.front {
    height: 50px;
    clip-path: circle(17.2% at 32% 51%, 17.2% at 32% 51%);
    background-color: rgb(252, 201, 139);
}
.cellesesq, .cellesdre {
    width: 140px;
    height: 20px;
    background-color: black;
    border-radius: 150px 150px 0 0;
    float: left;
    left: 60px;
    rotate: -5deg;
}
.cellesdre {
    left: 130px;
    rotate: 5deg;
}
.cellesdre:hover {
    top: -40px;
}
.cellesesq:hover {
    top: -40px;
}
.ullesq, .ulldret {
    width: 120px;
    height: 70px;
    background-color: white;
    border: 2px solid wheat;
    border-radius: 50%;
    float: left;
    top: 35px;
    left: -5px;
}
.ulldret {
    top: -40px;
    left: 70px;
}
.pupiladret, .pupilaesq {
    width: 25px;
    height: 25px;
    float: left;
    background-color: black;
    border: 10px solid rgb(131, 68, 0);
    border-radius: 50%;
    top: -25px;
    left: -10px;
}
.pupilaesq {
    top: -25px;
    left: 140px;
}
.orellaesq, .orelladre {
    width: 70px;
    height: 120px;
    border-radius: 40%;
    background: rgb(252, 201, 139);
    background-image: linear-gradient(to left, rgb(252, 201, 139), rgb(255, 191, 113));
    left: -50px;
    top: 70px;
    z-index: -6;
}
.orelladre {
    background-image: linear-gradient(to right, rgb(252, 201, 139), rgb(255, 191, 113));
    left: 450px;
    top: -45px;
}
.nas {
    width: 80px;
    height: 100px;
    background-image: linear-gradient(to bottom, rgb(252, 201, 139), rgb(250, 182, 98));
    border-radius: 0 0 90px 90px;
    top: -130px;
    left: 190px;
}
.boca {
    width: 170px;
    height: 60px;
    background-color: rgb(255, 172, 172);
    box-shadow: 5px 5px 10px rgba(255, 82, 82, 0.652);
    border-radius: 0 0 50px 50px;
    left: 145px;
    top: -90px;
}
.boca2 {
    width: 170px;
    height: 10px;
    background-color: rgba(255, 132, 132, 0.652);
    border-radius: 0 0 50px 50px;
    left: 146px;
    top: -133px;
}
.cos {
    width: 550px;
    height: 400px;
    background-color: rgb(0, 149, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px 50px 0 0;
    top: 32px;
    left: -35px;
    z-index: -6;
}
.cos2 {
    width: 230px;
    height: 230px;
    background-color: rgb(255, 191, 113);
    clip-path: circle(50% at 50% 0);
    top: -1780px;
    left: 120px;
}
.coll {
    width: 230px;
    height: 100px;
    background-color: rgb(255, 191, 113);
    top: -470px;
    left: 120px;
    z-index: -5;
}
.fons2 {
    width: 1000px;
    height: 1300px;
    border-radius: 50%;
    background-color: white;
    top: -1250px;
    left: -260px;
    z-index: -7;
}
